{% block addresses_errors %}

{% endblock %}

{% block address_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block address_widget %}
    <fieldset>
        <legend>
            Address
            {% if form.vars.value and form.vars.value.id %}
                #{{ form.vars.value.id }}
            {% else %}
                (new)
            {% endif %}
            : <a href="#" class="address-delete pull-right" title="delete the address">×</a>
        </legend>
        {{ form_widget(form) }}
    </fieldset>
{% endblock %}
