{% extends '@SensioTraining/Dude/layout.html.twig' %}

{% form_theme form '@SensioTraining/Dude/_form_address.html.twig' %}

{% block breadcrumb %}
    {{ parent ()}}
    <li class="active">Add</li>
{% endblock %}

{% block body %}
    <h1>Add a new dude</h1>
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('@SensioTraining/Dude/_form_address.js.twig') }}
{% endblock %}
