{% extends 'base.html.twig' %}

{% form_theme contact_form _self %}

{% block _contact_sender_widget %}
    {{ form_widget(form) }} Cet email est obligatoire.
{% endblock %}

{% block body %}
    <div class="container">
        {{ form(contact_form) }}
    </div>
{% endblock %}
